@model ProfileModel

@{
    ViewData["Title"] = Model.Name + " - Profile";
    Layout = "_SideBar";
}

<link rel="stylesheet" href="~/css/artist.css" />
<div style="margin-left: 244px">
<div class="content">
    <div class="content__middle">
        <div class="artist is-verified">
            <div class="artist__header">
                <div class="artist__info">
                    <div class="profile__img">
                        <img src="~/static/ali.jpg" alt="G-Eazy"/>
                    </div>
                    <div class="artist__info__meta">
                        <div class="artist__info__name">@Model.Name</div>
                        <div class="artist__info__type">@Model.Email</div>
                        <div class="artist__info__actions">
                            <a asp-action="Edit"><button  class="button-light">Edit Profile</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="artist__content">
                <div class="tab-content">
                    <!-- Overview -->
                    <div role="tabpanel" class="tab-pane active" id="artist-overview">
                        <div class="overview">
                            <div class="overview__artist">
                            <!-- Popular-->
                                <div class="section-title">Playlist Songs</div>
                                <div class="tracks">
                                        @foreach (var track in Model.PlayList.Songs)
                                        {
                                            <div class="track" onclick="cspd_change_music('@track.AudioStorageFile.FilePath', '@track.CoverStorageFile.FilePath', '@track.Name');">
                                                <div class="track__art">
                                                    <img src="@track?.CoverStorageFile?.FilePath" alt="@track?.Name" />
                                                </div>
                                                <div class="track__number">@(Model.PlayList.Songs.IndexOf(track) + 1)</div>
                                                <div class="track__added">
                                                    <i class="ion-checkmark-round added"></i>
                                                </div>
                                                <div class="track__title">@track.Name</div>
                                                <div class="track__explicit">
                                                    <span class="label">Explicit</span>
                                                </div>
                                                <div class="track__plays">
                                                    <a asp-action="AddSong" asp-controller="PlayList" asp-route-id="@track.Id" >
                                                        <button class="remove">
                                                        +
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>
                                        }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="artist__content">
                <div class="tab-content">
                    <!-- Overview -->
                    <div role="tabpanel" class="tab-pane active" id="artist-overview">
                        <div class="overview">
                            <div class="overview__artist">
                            <!-- Popular-->
                                <div class="section-title">Following Artists</div>
                                <div class="tracks">
                                        @foreach (var artist in Model.FollowingArtists)
                                        { 
                                                <div class="track">
                                                    <div class="track__art">
                                                        <img src="~/static/ali.jpg" alt="@artist?.FirstName @artist?.LastName" />
                                                    </div>
                                                    <div class="track__number">@(Model.FollowingArtists.IndexOf(artist) + 1)</div>
                                                    <div class="track__added">
                                                        <i class="ion-checkmark-round added"></i>
                                                    </div>
                                                        <a asp-action="Details" asp-controller="Artist" asp-route-id="@artist.Id">
                                                            <div class="track__title">@artist?.FirstName @artist?.LastName</div>
                                                        </a>
                                                    <div class="track__plays">
                                                        <a asp-action="Follow" asp-controller="Artist" asp-route-id="@artist.Id" >
                                                            <button class="remove">
                                                            +
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                            
                                        }
                                        <div class="track" style= "border-bottom: none; cursor: default;  pointer-events: none;">
                                                    <div class="track__art">
                                                        <img src="~/static/ali.jpg" alt="FirstName LastName" hidden/>
                                                    </div> 
                                                    <div class="track__number"></div>
                                                    <div class="track__added">
                                                        <i class="ion-checkmark-round added"></i>
                                                    </div>
                                                        <a>
                                                            <div class="track__title" ></div>
                                                        </a>
                                                    <div class="track__plays">
                                                    </div>
                                                </div>
                                                <div class="track" style= "border: none; cursor: default;  pointer-events: none;">
                                                    <div class="track__art">
                                                        <img src="~/static/ali.jpg" alt="FirstName LastName" hidden/>
                                                    </div> 
                                                    <div class="track__number"></div>
                                                    <div class="track__added">
                                                        <i class="ion-checkmark-round added"></i>
                                                    </div>
                                                        <a>
                                                            <div class="track__title" ></div>
                                                        </a>
                                                    <div class="track__plays">
                                                    </div>
                                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>